/**************************************************
Mixins
***************************************************/
/**************************************************
Animations
***************************************************/
@keyframes bt-n-tilt {
  25% {
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  50% {
    -ms-transform: 0;
    -webkit-transform: 0;
    transform: 0; }
  75% {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    -ms-transform: 0;
    -webkit-transform: 0;
    transform: 0; } }
@keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/**************************************************
Mixins
***************************************************/
/**************************************************
Sidebar styles
***************************************************/
.wrap-sidebar {
  background-color: #6abcff;
  position: absolute;
  left: 0;
  width: 240px;
  height: 100%;
  color: #fff;
  min-height: 960px; }

.wrap-sidebar h2 {
  font-size: 18px;
  font-weight: bold; }

.sidebar-elements, .wrap-sidebar #profile, .wrap-sidebar #skills, .wrap-sidebar #contact, .wrap-sidebar #education {
  padding: 5px 30px 5px;
  color: #fff; }

.wrap-sidebar #profile {
  background-color: #1a9cff;
  text-align: center;
  padding-top: 30px; }

.wrap-sidebar #profile img {
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 10; }

.wrap-sidebar #profile h1 {
  font-size: 22px;
  font-weight: 900; }

.wrap-sidebar #profile h3 {
  font-size: 14px;
  font-weight: 500;
  color: #d9d9d9; }

.wrap-sidebar #skills .skill-levels {
  margin-bottom: 10px; }

.wrap-sidebar #contact .contact-methods a {
  color: #fff; }

.wrap-sidebar #contact .contact-methods a:hover, .wrap-sidebar #contact .contact-methods a:visited {
  text-decoration: none; }

.wrap-sidebar #contact .contact-methods:hover {
  background-color: #1a9cff; }

.wrap-sidebar #contact .contact-methods p i {
  margin-right: 5px; }

.wrap-sidebar #education .educations p {
  color: #d9d9d9; }

.wrap-sidebar #education .educations strong {
  color: #fff; }

/**************************************************
Top-level
***************************************************/
html body {
  font-family: helvetica, sans-serif;
  color: #8c8da4;
  background-color: #e6e6e6;
  font-size: 14px;
  padding: 40px; }

/**************************************************
Wrap styles
***************************************************/
.container.wrap {
  margin: auto;
  position: relative;
  max-width: 960px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 5px #b3b3b3;
  -moz-box-shadow: 3px 3px 5px #b3b3b3;
  box-shadow: 3px 3px 5px #b3b3b3; }

/**************************************************
Main Section
***************************************************/
.wrap-main {
  background-color: #fff;
  padding: 30px;
  padding-left: 250px; }

.wrap-main .main-section {
  margin-bottom: 10%; }

.wrap-main .main-section h4 {
  color: #1a9cff;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px; }

.wrap-main .main-section p {
  color: #a6a6a6;
  font-size: 14px; }

.wrap-main .button-group .button:first-child, .wrap-main .button-group .button:last-child {
  margin-right: 10px;
  border-radius: 200px; }

.wrap-main .button-group a {
  animation-name: bt-n-tilt;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 4; }

.wrap-main #menu-button {
  display: inline-block;
  margin-left: 50px;
  position: relative;
  bottom: 10px; }

.wrap-main #experience .experiences {
  margin-bottom: 20px; }

.wrap-main #experience .experiences .info h5 {
  color: #808080;
  font-size: 18px; }

.wrap-main #interests #interests-container {
  margin-left: 0; }

.wrap-main #interests div .interest {
  display: inline-block;
  margin-left: 15%; }

.wrap-main #interests div .interest i {
  color: #6abcff; }

.wrap-main #interests div:first-child {
  margin-left: 0; }

/**************************************************
Media Queries
***************************************************/
@media screen and (max-width: 992px) {
  .wrap-main .button-group .button:first-child, .wrap-main .button-group .button:last-child {
    margin: 0; }

  .wrap-main #menu-button {
    margin: 10px 0px 0px;
    bottom: 0; } }
@media screen and (max-width: 757px) {
  .wrap-main .button-group .button:first-child, .wrap-main .button-group .button:last-child {
    margin-bottom: 25px; } }

/*# sourceMappingURL=sass-styles.css.map */
