@import 'sidebar-styles';
//importing with sass does not create an additional HTTP request so can split the sidebar code and mixins off and import.

/**************************************************
Top-level
***************************************************/

body {
	font-family: $font;
	color: #8c8da4;
	background-color: #eaeaea;
	font-size: $small-text;
	padding: 40px;
}

/**************************************************
Wrap styles
***************************************************/

.container.wrap {
	margin: auto;
	position: relative;
	max-width: 960px;
	@include box-shadow($bs);
}

/**************************************************
Main Section
***************************************************/

.wrap-main {
	background-color: $white;
	padding: 60px;
	padding-right: 100px;
}

.wrap-main section {
	margin-bottom: 5%;
}





