@import 'animations';
@import 'sidebar-styles';
//importing with sass does not create an additional HTTP request so can split the sidebar code and mixins off and import.

/**************************************************
Top-level
***************************************************/

html body {
	font-family: $font;
	color: #8c8da4;
	background-color: #e6e6e6;
	font-size: $small-text;
	padding: 40px;
}

/**************************************************
Wrap styles
***************************************************/

.container.wrap {
	margin: auto;
	position: relative;
	max-width: 960px;
	background-color: $white;
	@include box-shadow($bs);
}

.container.wrap #scroller {
	display: none;
	background-color: $dark-colour;
	position: fixed;
	right: 0;
	bottom: 300px;
	width: 50px;
	height: 100px;
	text-align: center;
	@include border-radius(20px 0px 0px 20px);
} 

.container.wrap #scroller i {
	margin-top: 50%;
	color: $white;
}

/**************************************************
Main Section
***************************************************/

.wrap-main {
	background-color: $white;
	padding: 30px;
	padding-left: 250px;
}

.wrap-main .main-section {
	margin-bottom: 10%;
}

.wrap-main .main-section h4 {
	color: $dark-colour;
	font-weight: bold;
	font-size: $large-text;
	margin-bottom: 30px;
}

.wrap-main .main-section p {
	color: #a6a6a6;
	font-size: $small-text;
}

.wrap-main .button-group .button:first-child, .wrap-main .button-group .button:last-child {
	margin-right: 10px;
	border-radius: 200px;
}

.wrap-main .button-group a {
	animation-name: bt-n-tilt;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 4;
}

.wrap-main #menu-button {
	display: inline-block;
	margin-left: 50px;
	position: relative;
	bottom: 10px;
}

.wrap-main #summary h1 {
	font-size: $large-text + 6px;
	font-weight: 900;
	color: $dark-colour;
	margin-bottom: 30px;
}

.wrap-main #summary h1 i {
	vertical-align: middle;
}

.wrap-main #experience .experiences {
	margin-bottom: 20px;
}

.wrap-main #experience .experiences .info h5 {
	color: #808080;
	font-size: $medium-text
}

.wrap-main #interests #interests-container {
	margin-left: 0;
}

.wrap-main #interests div .interest {
	display: inline-block;
}

.wrap-main #interests div .interest i {
	color: $main-colour;
}

.wrap-main #interests div:first-child {
	margin-left: 0;
}

/**************************************************
Media Queries
***************************************************/

@media screen and (max-width: 992px) {
    
	.wrap-main .button-group .button:first-child, .wrap-main .button-group .button:last-child  {
		margin: 0;
	}

	.wrap-main #menu-button {
		margin: 10px 0px 0px;
		bottom: 0;
	}

	.container.wrap #scroller {
		right: 50px;
		bottom: 30px;
		width: 75px;
		height: 75px;
		@include border-radius(50%);
	}

	.container.wrap #scroller i {
		margin-top: 20%;
	}
}

@media screen and (max-width: 757px) {

	.wrap-main .button-group .button:first-child, .wrap-main .button-group .button:last-child  {
		margin-bottom: 25px;
	}

}

@media screen and (max-width: 615px) {

	.wrap-main .button-group .button:first-child, .wrap-main .button-group .button:last-child  {
		margin-right: 10px;
	}

	.wrap-main #menu-button {
		bottom: 38px;
	}
}


