@import 'sidebar-styles';
//importing with sass does not create an additional HTTP request so can split the sidebar code and mixins off and import.

/**************************************************
Top-level
***************************************************/

body {
	font-family: $font;
	color: #8c8da4;
	background-color: #eaeaea;
	font-size: $small-text;
	padding: 40px;
}

/**************************************************
Wrap styles
***************************************************/

.container.wrap {
	margin: auto;
	position: relative;
	max-width: 960px;
	@include box-shadow($bs);
}

/**************************************************
Main Section
***************************************************/

.wrap-main {
	background-color: $white;
	padding: 30px;
	padding-left: 250px;
}

.wrap-main .main-section {
	margin-bottom: 10%;
}

.wrap-main .main-section h4 {
	color: $dark-colour;
	font-weight: bold;
	font-size: $large-text;
}

.wrap-main .main-section p {
	color: #a6a6a6;
	font-size: $small-text;
}

.wrap-main .button-group .button:first-child, .wrap-main .button-group .button:last-child {
	margin-right: 10px;
	border-radius: 200px;
}

.wrap-main #menu-button {
	display: inline-block;
	margin-left: 50px;
	position: relative;
	bottom: 10px;
}





